* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: white;
  text-align: center;
}

header {
  padding: 60px 20px;
}

.profile-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #38bdf8;
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 5px;
}

p {
  color: #cbd5f5;
}

section {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background: rgba(30,41,59,0.8);
  border-radius: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #020617;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
}

a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: white;
}

button {
  background: #38bdf8;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

footer {
  margin: 40px 0;
  color: #64748b;

}
.projects-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.project-card {
  background: white;
  color: black;
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card a {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #00c6ff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
